<!DOCTYPE html>
<html>
<title>Edit Article</title>
 <form action="/articles/<%= @article.id %>" method="post">
 <input id="hidden" type="hidden" name="_method" value="PATCH">
 <label for "title"> Title: </label>
 <p><input type="text" name="title" id= "<%=@article.title%>"> </p>
 <label for "content"> Content: </label>
 <p><input type="text" name="content" id= "<%=@article.content%>"> </p>
 <p><input type="submit" value="update article" id="submit"></p>
 </form>
</html>