<!DOCTYPE html>
<html>
<title>NEW</title>
 <form action="/articles" method="post">
 <label for "title"> Title: </label>
 <p><input type="text" name="title" id="title" > </p>
 <label for "content"> Content: </label>
 <p><input type="text" name="content" id="content" > </p>
 <p><input type="submit" value="submit" id="submit"></p>
 </form>
</html>