<h2>Create an article!</h2>

<form action="/articles" method="POST">
  <p>
    <label>Title:</label>
    <input type="text" name="title">
  </p>
  
  <p>
    <label>Content:</label>
    <textarea type="text" name="content"></textarea>
  </p>
  
  <input type="submit" value="submit">
  
</form>