<h2><%= @article.title %></h2>
<p><%= @article.content %></p>
<hr>
<form action="/articles/<%= @article.id %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>