<h1>content content content content content</h1>
<h1>Hello World</h1>
<h1>This is my first article!!!</h1>



<form action="/articles/<%=@article.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" id="submit">
</form>